<div ng-controller="QueuesCtrl">
  <h1 class="text-primary" style="margin-bottom: 30px;">Queues</h1>
  <table class="table table-striped">
    <tbody>
      <tr ng-if="waiting">
        <td colspan="3"><span class="glyphicon glyphicon-refresh glyphicon-spin"></span></td>
      </tr>
      <tr ng-repeat="q in data" ng-if="!waiting">
        <td>
          <span ng-if="q.organization"><span class="label label-success" style="font-weight: normal; text-transform: uppercase;">{{ q.organization.name }}</span>&nbsp;&nbsp;</span>
          <a ui-sref="tasks({ id: q._id })">{{ q.name }}</span>
        </td>
        <td style="text-align: right">
          <span>Tasks: {{ q.tasks.length || '--' }}</span>
        </td>
        <td style="text-align: center">
          <a href="#" alt="Delete" ng-if="!(edit._id.$oid == q._id.$oid)" ng-click="queueDel(q._id)">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </td>
      </tr>
      <tr ng-if="!waiting">
        <td colspan="3">
          <button ng-if="!showAddForm" class="btn btn-primary btn-xs" ng-click="toogleAddForm()">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          <div ng-if="showAddForm">
            Name: <input type="text" ng-model="edit.name" style="width: 40%;">
            Organization: <select ng-model="edit.organization">
              <option ng-repeat="o in organizations" value="{{ o._id }}">{{ o.name }}</option>
            </select>
            <button class="btn btn-success btn-xs" ng-click="queueAdd()">Add</button>
            <button class="btn btn-default btn-xs" ng-click="toogleAddForm()">Cancel</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>