<div ng-controller="TasksCtrl">
  <!-- <h1 class="text-primary">Tasks</h1> -->
  <h1 class="mytitle">
    <span class="text-primary">{{ queue.name }}</span>
    <span ng-if="queue.organization" class="pull-right label label-info" style="font-weight: normal; text-transform: uppercase; font-size: 40%; margin-top: 14px;">{{ queue.organization.name }}</span>
  </h1>
  <table class="table">
    <tbody>
      <tr ng-if="waiting">
        <td colspan="4"><span class="glyphicon glyphicon-refresh glyphicon-spin"></span></td>
      </tr>
      <tr ng-repeat-start="t in tasks" ng-if="!waiting" ng-class="{ mybg: t.done }">
        <td style="text-align: center;">
            <a class="mybtn" href="" ng-click="reorder(t._id,tasks[$index+1].order,tasks[$index+1]._id)" ng-if="!$last"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
            <a class="mybtn" href="" ng-click="reorder(t._id,tasks[$index-1].order,tasks[$index-1]._id)" ng-if="!$first"><span class="glyphicon glyphicon-triangle-top"></span></a>
        </td>
        <td>
          <span ng-if="t._id==editing._id" ng-class="{'task-done': t.done}">
            <input type="text" ng-model="editing.text" style="width: 50%;">
            <button class="btn btn-success btn-xs" ng-click="taskEditUpdate()">Save</button>
            <button class="btn btn-default btn-xs" ng-click="taskEditCancel()">Cancel</button>
          </span>
          <span ng-if="t._id!=editing._id" ng-class="{'task-done': t.done}">{{ t.text }}</span>
          <span style="margin-left: 14px;"></span>
          <span class="label label-default" ng-repeat="l in t.tags" style="margin-left: 6px;">{{ l }}</span>
        </td>
        <td style="text-align: right" class="text-muted">
        </td>
        <td style="text-align: center;">
          <a class="mybtn" href="" alt="Done" ng-click="taskDone(t._id)"><span ng-if="!t.done" class="fa fa-check-circle fa-lg text-success"></span></a>
          <a class="mybtn" href="" alt="Undone" ng-click="taskUndo(t._id)"><span ng-if="t.done" class="fa fa-times-circle fa-lg text-danger"></span></a>
          &nbsp;<a class="mybtn" href="" ng-click="toogleOpt($index)"><span class="fa fa-gears fa-lg"></span></a>
        </td>
      </tr>
      <tr ng-repeat-end ng-show="opts[$index]" ng-class="{ mybg: t.done }">
        <td style="border: 0px; background-color: white;"></td>
        <td colspan="2" style="border: 0px;">
          <small> {{ t.partial }}% completed. <span ng-if="t.date">Due Date: {{ t.date }}.</small>
          <span class="pull-right">
            <a href="" ng-click="taskEdit(t)" class="mybtn"><span class="glyphicon glyphicon-pencil"></span></a>
            &nbsp;<a href="" ng-click="alert(t._id)" class="mybtn"><span class="glyphicon glyphicon-calendar"></span></a>
            &nbsp;<a href="" ng-click="alert(t._id)" class="mybtn"><span class="glyphicon glyphicon-flag"></span></a>
            &nbsp;<a href="" ng-click="alert(t._id)" class="mybtn"><span class="glyphicon glyphicon-certificate"></span></a>
            &nbsp;<a href="" ng-click="taskDel(t._id)" class="mybtn"><span class="glyphicon glyphicon-trash"></span></a>
          </span>
        </td>
        <td style="border: 0px; background-color: white;"></td>
      </tr>
      <tr ng-if="!waiting">
        <td style="text-align: center;">
          <a ng-if="!showAddTask" role="button" ng-click="toogleAddTask()" ng-disabled="showAddTask">
            <i class="fa fa-plus-circle fa-2x"></i>
          </a>
        </td>
        <td colspan="3">
          <div ng-if="showAddTask">
            Task: <input type="text" ng-model="edit.text" style="width: 60%;">
            <button class="btn btn-success btn-xs" ng-click="taskAdd()">Add</button>
            <button class="btn btn-default btn-xs" ng-click="toogleAddTask()">Cancel</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>